<!DOCTYPE html>
<html ng-app="webapp">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="javascripts/webapp.js"></script>
</head>
<body ng-controller="webController as ctrl">
    <div class="page-container">

        <div ng-init='poster=true' class="movie-container">
            <div ng-show="true" class="poster">
                <div class="title-container">
                    <div class="movie-title">Gamer</div>
                    <div class="movie-rating">
                        <img src="images/"/>
                    </div>
                </div>
                <!--<img src="images/poster.png"/>-->
                <div class="poster-img">

                </div>
            </div>
            <div ng-show="false" class="trailer">

            </div>
        </div>
c</html>
