<!DOCTYPE html>
<html ng-app="webapp">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/tab-styles.css' />
    <link rel='stylesheet' href='/stylesheets/tab-typography.css' />
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="http://www.youtube.com/iframe_api"></script>
    <script src="http://www.youtube.com/player_api"></script>
    <script type="text/javascript" src="javascripts/webapp.js"></script>
    <script type="text/javascript" src="javascripts/movie-crawler.js"></script>

</head>
<body ng-controller="webController as ctrl">
        <div ng-hide="!showPoster" ng-init="toggleNav = false" class="nav-container" ng-class="{showFullNav:toggleNav}">
            <div class="hamburger-container">
                <img ng-click="toggleNav = !toggleNav" src="images/hamburgerButton.png"/>
                <div ng-hide="!toggleNav" class="company">
                    <a>Scene</a>
                </div>
            </div>
            <div ng-hide="!toggleNav" class="full-menu-container">
                <div class="categories">
                    <ul>
                        <li><a>Favorites</a></li>
                        <li>Genres
                            <ul class="genre-list">
                                <li><a>Action</a></li>
                                <li><a>Classic</a></li>
                                <li><a>Comedy</a></li>
                                <li><a>Documentary</a></li>
                                <li><a>Drama</a></li>
                                <li><a>Horror</a></li>
                                <li><a>Thriller</a></li>
                                <li><a>Romance</a></li>
                            </ul>
                        </li>
                        <li>Best of
                            <ul>
                                <li><a>All Time</a></li>
                                <li><a>2013</a></li>
                                <li><a>2012</a></li>
                            </ul>
                        </li>
                        <li><a>About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="page-container" ng-click="hideIframe()">
        <div class="movie-container">
            <div ng-show="showPoster" class="poster animate-show" ng-init="showTabs = false">
                <div class="poster-container" ng-show="index == 0"
                     ng-mouseenter="showPlayButton=true"
                     ng-mouseleave="showPlayButton=false">
                    <div class="movie-title title-container">{{posters[index].title}}</div>
                    <div class="movie-rating2">{{posters[index].score}}%</div>
                    <img class="movie-rating-tomato" src="images/tomato.png"/>
                    <img class="poster-image" src="{{posters[index].img}}"/>
                    <div class="tabs tabs_default"  ng-class="{showTabs:showTabs}">
                        <ul class="horizontal">
                            <li ng-click="showTabs = true"><a href="#tab-1">Movie Info</a></li>
                            <li ng-click="showTabs = true"><a href="#tab-2">Watch</a></li>
                            <li ng-click="showTabs = true"><a href="#tab-3">Recommendations (5)</a></li>
                            <li><a ng-click="showTabs = false"> X </a></li>
                        </ul>
                        <div ng-show="showTabs" id="tab-1">
                            <div class="synopsis">
                                Filmed over 12 years with the same cast, Richard Linklater's BOYHOOD is a groundbreaking story of growing up as seen through the eyes of a child named Mason (a breakthrough performance by Ellar Coltrane), who literally grows up on screen before our eyes. Starring Ethan Hawke and Patricia Arquette as Mason's parents and newcomer Lorelei Linklater as his sister Samantha, BOYHOOD charts the rocky terrain of childhood like no other film has before. Snapshots of adolescence from road trips and family dinners to birthdays and graduations and all the moments in between become transcendent, set to a soundtrack spanning the years from Coldplay's Yellow to Arcade Fire's Deep Blue. BOYHOOD is both a nostalgic time capsule of the recent past and an ode to growing up and parenting. It's impossible to watch Mason and his family without thinking about our own journey. (c) Sundance Film Fest
                            </div>
                            <div class="generalInfo">
                                R, 2 hr. 45 min.<br/>
                                Drama<br/>
                                Director: Richard Linklater<br/>
                            </div>
                        </div>
                        <div ng-show="showTabs" id="tab-2">
                            <div class="watch-links">
                                <div class="movie-links-left">
                                    <a href="http://www.netflix.com">
                                        <img class="watch-image-left" src="/images/netflix-logo.png">
                                    </a>
                                    <a href="http://www.itunes.com">
                                        <img class="watch-image-left" src="/images/itunes-logo.jpg">
                                    </a>
                                </div>
                                <div class="movie-links-right">
                                    <a href="http://www.amazon.com">
                                        <img class="watch-image-right" src="/images/amazoninstantvideo.png">
                                    </a>
                                    <a href="http://www.megavideo.com">
                                        <img class="watch-image-right" src="/images/megavideo-logo.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div ng-show="showTabs" id="tab-3">
                            <div class="recommendedTitle">These friend's have also favorited this movie:</div>
                            <div class="friends">
                                <div class="friendUnit">
                                    <img src="images/friend1.png">
                                    Stephen Rutman
                                </div>
                                <div class="friendUnit">
                                    <img src="images/friend2.png">
                                    Omar Peña
                                </div>
                                <div class="friendUnit">
                                    <img src="images/friend3.png">
                                    Maddie Gee
                                </div>
                                <div class="friendUnit">
                                    <img src="images/friend4.png">
                                    Christian Bersani
                                </div>
                                <div class="friendUnit">
                                    <img src="images/friend5.png">
                                    Samantha Klein
                                </div>
                                <!--<img src="images/friend2.png">-->
                                <!--<img src="images/friend3.png">-->
                                <!--<img src="images/friend4.png">-->
                                <!--<img src="images/friend5.png">-->

                            </div>
                        </div>
                    </div>
                    <div ng-click="showPoster=false; showIframe()" class="play-button" ng-class="{showPlayButton:showPlayButton}"></div>

                </div>
                <div class="poster-container" ng-show="index == 1"
                     ng-mouseenter="showPlayButton=true"
                     ng-mouseleave="showPlayButton=false">
                    <div class="movie-title title-container">{{posters[index].title}}</div>
                    <div class="movie-rating2">{{posters[index].score}}%</div>
                    <img class="movie-rating-tomato" src="images/tomato.png"/>
                    <img class="poster-image" src="{{posters[index].img}}"/>
                    <div class="tabs tabs_default"  ng-class="{showTabs:showTabs}">
                        <ul class="horizontal">
                            <li  ng-click="showTabs = true"><a href="#tab-1">Movie Info</a></li>
                            <li  ng-click="showTabs = true"><a href="#tab-2">Watch</a></li>
                            <li  ng-click="showTabs = true"><a href="#tab-3">Recommendations (0)</a></li>
                            <li><a ng-click="showTabs = false"> X </a></li>
                        </ul>
                        <div ng-show="showTabs" id="tab-1">
                            <div class="synopsis">
                                Filmed over 12 years with the same cast, Richard Linklater's BOYHOOD is a groundbreaking story of growing up as seen through the eyes of a child named Mason (a breakthrough performance by Ellar Coltrane), who literally grows up on screen before our eyes. Starring Ethan Hawke and Patricia Arquette as Mason's parents and newcomer Lorelei Linklater as his sister Samantha, BOYHOOD charts the rocky terrain of childhood like no other film has before. Snapshots of adolescence from road trips and family dinners to birthdays and graduations and all the moments in between become transcendent, set to a soundtrack spanning the years from Coldplay's Yellow to Arcade Fire's Deep Blue. BOYHOOD is both a nostalgic time capsule of the recent past and an ode to growing up and parenting. It's impossible to watch Mason and his family without thinking about our own journey. (c) Sundance Film Fest
                            </div>
                            <div class="generalInfo">
                                R, 2 hr. 45 min.<br/>
                                Drama<br/>
                                Director: Richard Linklater<br/>
                            </div>
                        </div>
                        <div ng-show="showTabs" id="tab-2">
                            <div class="watch-links">
                                <div class="movie-links-left">
                                    <a href="http://www.netflix.com">
                                        <img class="watch-image-left" src="/images/netflix-logo.png">
                                    </a>
                                    <a href="http://www.itunes.com">
                                        <img class="watch-image-left" src="/images/itunes-logo.jpg">
                                    </a>
                                </div>
                                <div class="movie-links-right">
                                    <a href="http://www.amazon.com">
                                        <img class="watch-image-right" src="/images/amazoninstantvideo.png">
                                    </a>
                                    <a href="http://www.megavideo.com">
                                        <img class="watch-image-right" src="/images/megavideo-logo.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div ng-show="showTabs" id="tab-3">
                            <p>
                                None of your friends recommend this movie.
                            </p>
                        </div>
                    </div>
                    <div ng-click="showPoster=false; showIframe()" class="play-button" ng-class="{showPlayButton:showPlayButton}"></div>

                </div>

                <div class="poster-container" ng-show="index == 2"
                     ng-mouseenter="showPlayButton=true"
                     ng-mouseleave="showPlayButton=false">
                    <div class="movie-title title-container">{{posters[index].title}}</div>
                    <div class="movie-rating2">{{posters[index].score}}%</div>
                    <img class="movie-rating-tomato" src="images/tomato.png"/>
                    <img class="poster-image" src="{{posters[index].img}}"/>
                    <div class="tabs tabs_default"  ng-class="{showTabs:showTabs}">
                        <ul class="horizontal">
                            <li  ng-click="showTabs = true"><a href="#tab-1">Movie Info</a></li>
                            <li  ng-click="showTabs = true"><a href="#tab-2">Watch</a></li>
                            <li  ng-click="showTabs = true"><a href="#tab-3">Recommendations (3)</a></li>
                            <li><a ng-click="showTabs = false"> X </a></li>
                        </ul>
                        <div ng-show="showTabs" id="tab-1">
                            <div class="synopsis">
                                Filmed over 12 years with the same cast, Richard Linklater's BOYHOOD is a groundbreaking story of growing up as seen through the eyes of a child named Mason (a breakthrough performance by Ellar Coltrane), who literally grows up on screen before our eyes. Starring Ethan Hawke and Patricia Arquette as Mason's parents and newcomer Lorelei Linklater as his sister Samantha, BOYHOOD charts the rocky terrain of childhood like no other film has before. Snapshots of adolescence from road trips and family dinners to birthdays and graduations and all the moments in between become transcendent, set to a soundtrack spanning the years from Coldplay's Yellow to Arcade Fire's Deep Blue. BOYHOOD is both a nostalgic time capsule of the recent past and an ode to growing up and parenting. It's impossible to watch Mason and his family without thinking about our own journey. (c) Sundance Film Fest
                            </div>
                            <div class="generalInfo">
                                R, 2 hr. 45 min.<br/>
                                Drama<br/>
                                Director: Richard Linklater<br/>
                            </div>
                        </div>
                        <div ng-show="showTabs" id="tab-2">
                            <div class="watch-links">
                                <div class="movie-links-left">
                                    <a href="http://www.netflix.com">
                                        <img class="watch-image-left" src="/images/netflix-logo.png">
                                    </a>
                                    <a href="http://www.itunes.com">
                                        <img class="watch-image-left" src="/images/itunes-logo.jpg">
                                    </a>
                                </div>
                                <div class="movie-links-right">
                                    <a href="http://www.amazon.com">
                                        <img class="watch-image-right" src="/images/amazoninstantvideo.png">
                                    </a>
                                    <a href="http://www.megavideo.com">
                                        <img class="watch-image-right" src="/images/megavideo-logo.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div ng-show="showTabs" id="tab-3">Tab 3</div>
                    </div>
                    <div ng-click="showPoster=false; showIframe()" class="play-button" ng-class="{showPlayButton:showPlayButton}"></div>

                </div>

                <div class="arrow right" ng-click="nextPoster()"></div>
                <div class="arrow left" ng-click="prevPoster()"></div>
                <!--<div class="poster-img"></div>-->
            </div>
            <div id="player" class="trailer animate-show">
          </div>
    </div>
</div>
<script type="text/javascript" src="bower_components/imagesloaded/imagesloaded.pkgd.js"></script>
<script type="text/javascript" src="bower_components/Tabslet/jquery.tabslet.js"></script>
<script type="text/javascript" src="bower_components/jquery-fillcontainer/jquery.fillcontainer.js"></script>
<script type="text/javascript">
    $(function() {
        $('.tabs_default').tabslet();
        imagesLoaded('.poster-container', function() {
            $('.poster-container').fillContainer({
                fillMode: 'fit',
                parent: '.movie-container'
            });
            console.log( "ready!" );
        });

    });

</script>
</body>
</html>
