html {
    width: 100%;
    height: 100%;
}

body {
    padding: 2%;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
    height: 100%;

}

.page-container {
    height: 100%;
}

.movie-container {
    /*border: 1px white solid;*/
    width: 100%;
    height: 90%;
    margin: 0 auto;

    /*max-width: 650px;*/
    /*max-height: 500px;*/
}

.poster {
    /*max-width: 325px;*/
    /*min-width: 200px;*/
    /*border: 1px green solid;*/
    margin: 0 auto;
    /*width: 50%;*/
    height: 100%;
}

.poster .title-container {
    color: white;
    font-size: 22px;
    font-weight: lighter;
    display: inline;
    width: 100%;
    height: 6%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.poster .title-container .movie-title {
    text-align: left;
    display: inline-block;
}

.poster .title-container .movie-rating {
    display: inline-block;
    float:right;
    height: 100%;

}

.movie-rating2 {
    display: inline;
    float: right;
    height: 6%;
    color: white;
    font-size: 22px;
    font-weight: lighter;
}

.movie-rating-tomato {
    display: inline-block;
    height: 20px;
    position: relative;
    top: 1px;
    float: right;
}

.poster .title-container .movie-rating img {
    display: inline-block;
    height: 20px;
    position: relative;
    top: 1px;
}

.poster .title-container .movie-rating div {
    display: inline-block;
}


.poster-image {
    /*height: 100%;*/
    width: 100%;
}

.poster-img {
    height: 92%;
    max-height: 92%;
    background-image: url("../images/poster.png");
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.trailer {
    width: 95%;
    max-height: 1200px;
    height: 75%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    position: absolute;

}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    -webkit-transition:all linear 2s;
    -moz-transition:all linear 2s;
    -o-transition:all linear 2s;
    transition:all linear 2s;
    /*display:block!important;*/
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
    /*line-height:0;*/
    opacity:0;
    /*padding:0 10px;*/
}
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    /*line-height:20px;*/
    opacity:1;
    /*padding:10px;*/
    /*border:1px solid black;*/
    /*background:white;*/
}

.poster-container {
    color: white;
    /*width: 50%;*/
}