html {
    width: 100%;
    height: 100%;
}

body {
    padding: 2%;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
    height: 100%;
    overflow: hidden;

}

.nav-container {
    background-color: #202020;
    position: absolute;
    left: 5%;
    height: 30px;
    width: 30px;
    padding: 5px 6px;

    color: #a7a7a7;
    font-size: 16px;
    font-weight: lighter;
    padding-bottom: 2px;
    overflow: scroll;

    z-index: 9999;
}

/*.nav-container {*/
    /*-webkit-transition: all linear .2s;*/
    /*-moz-transition: all linear .2s;*/
    /*-o-transition: all linear .2s;*/
    /*transition: all linear .2s;*/
/*}*/



.nav-container.showFullNav {
    width: 150px;
    width: 150px;
    height: 100%;
    max-height: 420px;
    overflow: scroll;
    background-color: #202020;
}


.nav-container .hamburger-container {
    height: 30px;
}

.nav-container .hamburger-container img {
    height: 100%;
}

.nav-container .company {
    color: white;
    font-size: 22px;
    font-weight: lighter;
    display: inline;
    position: absolute;
    top: 12px;
    left: 45px;
}


.nav-container .company img {
    height: 32px;
    position: relative;
    top: 7px;
    margin-left: 10px;
    margin-right: 2px;
}

.nav-container a:active {
    color: white;
}

.nav-container ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
    padding-start: 0px;
}

.nav-container ul li {
    margin-bottom: 10px;
}

.nav-container ul li:first-child {
    margin-top: -10px;
}

/*.genre-list li:nth-child(6) {
    color: white;
}*/


.nav-container ul ul li {
    margin-bottom: 5px;
}

.page-container {
    height: 100%;
}

.movie-container {
    /*border: 1px white solid;*/
    width: 100%;
    height: 90%;
    margin: 0 auto;

    /*max-width: 650px;*/
    /*max-height: 500px;*/
}

.poster {
    /*max-width: 325px;*/
    /*min-width: 200px;*/
    /*border: 1px green solid;*/
    margin: 0 auto;
    /*width: 50%;*/
    height: 100%;
}

.poster .title-container {
    color: white;
    font-size: 22px;
    font-weight: lighter;
    display: inline;
    width: 100%;
    height: 6%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.poster .title-container .movie-title {
    text-align: left;
    display: inline-block;
}

.poster .title-container .movie-rating {
    display: inline-block;
    float:right;
    height: 100%;

}

.movie-rating2 {
    display: inline;
    float: right;
    height: 6%;
    color: white;
    font-size: 22px;
    font-weight: lighter;
}

.movie-rating-tomato {
    display: inline-block;
    height: 20px;
    position: relative;
    top: -3px;
    float: right;
    left: -3px;
}

.poster .title-container .movie-rating img {
    display: inline-block;
    height: 20px;
    position: relative;
    top: 1px;
}

.poster .title-container .movie-rating div {
    display: inline-block;
}


.poster-image {
    /*height: 100%;*/
    width: 100%;
    height:96%;
    border-radius: 2px;
}

.poster-img {
    height: 92%;
    max-height: 92%;
    background-size: 100%;
    /*background-image: url("../images/poster.png");*/
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 0 auto;

}

/*#tab-container {*/
    /*position: relative;*/
    /*top: -30%;*/
    /*left: 1px;*/
    /*opacity: .75;*/
    /*background-color: #202020;*/
    /*height: 30%;*/
/*}*/

/*#tab-container a {*/
    /*text-decoration: none;*/
    /*color: white;*/
/*}*/

/*#tab-container ul {*/
    /*list-style-type: none;*/
    /*-webkit-padding-start: 0px;*/
    /*padding-start: 0px;*/
    /*margin-bottom: 0px;*/
    /*margin-bottom: -1px;*/
/*}*/

/*#tab-container ul li {*/
    /*display: inline-block;*/
    /*width: auto;*/
    /*vertical-align: top;*/
    /*overflow: hidden;*/
    /*background-color: #101010;*/
    /*margin: -2px;*/
    /*border: 1px solid blue;*/
    /*border-bottom: none;*/
/*}*/

/*#tab-container ul li a {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*padding: 4px 4px 0px 4px;*/
/*}*/

/*#tab-container ul li .active  {*/
    /*background-color: #202020;*/
/*}*/

/*#tab-container div {*/
    /*margin: 0px;*/
/*}*/



.tabs {
    position: relative;
    top: -32px;
    opacity: .8;
    height: 23%;
}

.tabs div {
    padding: 3px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0 auto;
    font-weight: 100;
    font-family: Helvetica Neue;
    background: #202020 !important;
    height: 100%;
    /*display: none !important;*/
}

.synopsis {
    width: 56%;
    height: 75% !important;
    overflow: scroll;
    display: inline-block;
}

.generalInfo {
    display: inline-block;
    float: right;
    text-align: right;
    width: 38%;
    overflow: scroll;
    height: 75% !important;
}
.recommendedTitle {
    height: auto !important;
    padding: 5px !important;
    position: relative;
    top: -7px;
}

.recommendedTitle img {
    width: 10%;
    position: relative;
    top: 6px;

}

.friends {
    width: 100%;
    height: auto !important;
    position: relative;
    top: -10px;
}

.friendUnit {
    width: 15%;
    text-align: center;
    display: inline-table;
    height: auto !important;
    margin-left: 5px !important;
}

.friends img {
    width: 85%;
    border-radius: 100%;
    clear: both;
    opacity: 1;
}

.trailer {
    width: 95%;
    max-height: 1200px;
    height: 75%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    position: absolute;

}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    -webkit-transition:all linear 1s;
    -moz-transition:all linear 1s;
    -o-transition:all linear 1s;
    transition:all linear 1s;
    /*display:block!important;*/
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
    /*line-height:0;*/
    opacity:0;
    /*padding:0 10px;*/
}
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    /*line-height:20px;*/
    opacity:1;
    /*padding:10px;*/
    /*border:1px solid black;*/
    /*background:white;*/
}


/*.nav-container.showFullNav{*/
    /*line-height:20px;*/
    /*opacity:1;*/
    /*height: 100%;*/
    /*width: 150px;*/
    /*padding:10px;*/
    /*border:1px solid black;*/
    /*background:white;*/
/*}*/

.tabs {
    -webkit-transition:all ease-in-out	 .3s;
    -moz-transition:all ease-in-out	 .3s;
    -o-transition:all ease-in-out	 .3s;
    transition:all ease-in-out	 .3s;
}

.tabs.showTabs {
    top: -28%;
}



.poster-container {
    color: white;
    /*width: 50%;*/
}

#player {
    visibility:hidden;
    width: 95%;
    max-height: 1200px;
    height: 75%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    position: absolute;

}

.play-button {
    height: 30%;
    margin: auto 3% !important;
    width: 45%;
    background-image: url('../images/playTrailerButton.png');
    position: relative;
    top: -90%;
    background-size: contain;
    left: 25%;
    cursor: pointer;
    background-repeat: no-repeat;
    visibility: hidden;
    opacity: .8;
}

.play-button.showPlayButton {
    visibility: visible;
}

.greyArrow-left {
    background-image: url('../images/grey-arrow-left.png') !important;
}

.greyArrow-right {
    background-image: url('../images/grey-arrow-right.png') !important;
}

.movie-links-left {
    width: 40%;
    float: left;
}

.movie-links-right {
    width: 40%;
    float: right;
}

.watch-image-left {
    width: 80%;
    padding-left: 20%;
}

.watch-image-right {
    width: 80%;
    padding-left: 0%;
    padding-bottom: 5%;
}

.arrow {
    height: 30%;
    width: 10%;
    /*background-color: white;*/
    position: absolute;
    top: 42%;
    background-repeat: no-repeat;
    cursor: pointer;

}

.arrow.right {
    left: 75%;
    background-image: url('../images/arrow-right.png');
}

.arrow.left {
    right: 72%;
    background-image: url('../images/arrow-left.png');
}

/*.poster-containert.ng-hide-add, .poster-container.ng-hide-remove {*/
    /* this is required as of 1.3x to properly*/
       /*apply all styling in a show/hide animation */
    /*transition:0s linear all;*/
/*}*/

/*.poster-container.ng-hide-add-active,*/
/*.poster-container.ng-hide-remove-active {*/
    /* the transition is defined in the active class */
    /*transition:1s linear all;*/
/*}*/

/*.poster-container.ng-hide-add {*/
    /*opacity: 0;*/
/*}*/

/*.poster-container.ng-hide-add.ng-hide-add-active {*/
    /*opacity: 1;*/
/*}*/

/*.poster-container.ng-hide-remove {*/

/*}*/

/*.poster-container.ng-hide-remove.ng-hide-remove-active {*/

/*}*/

.poster-container {
    position: absolute;
}

.poster-container.ng-hide-add,
.poster-container.ng-hide-remove {
    -webkit-transition:all ease-in-out .75s;
    -moz-transition:all ease-in-out .75s;
    -o-transition:all ease-in-out .75s;
    transition:all ease-in-out .75s;
    /*display:block!important;*/
}

.poster-container.ng-hide-remove {
    /*opacity:0;*/
    transform: translate(250%);
}

.poster-container.ng-hide-remove.ng-hide-remove-active {
    /*opacity: 1;*/
    transform: translate(0%);
}

.poster-container.ng-hide-add {
    transform: translate(0%);
}

.poster-container.ng-hide-add.ng-hide-add-active {
    transform: translate(-250%);
}


.dimIcon {
    background-color: white;
    cursor:pointer;
}
